<head>
<script type="text/javascript" charset="utf-8">
        function onBlur() {
            if(parent.is_parent == false)
            {
            parent.onfocus = false;
            parent.trigger_notification('Stopped reading faces for classification');
            }

            //parent.is_frame = false;
        };
        function onFocus(){
                console.log('frame');
                //onfocus = true;
                parent.is_frame = true;
        };

         window.onfocus = onFocus;
            window.onblur = onBlur;
       </script>
    </head>

<body>
<div class="PDF" height='100%' width='100%'>
   <object height='100%' width='100%' data="data/ilic2015.pdf" type="application/pdf">
       alt : <a href="data/ilic2015.pdf">ilic2015.pdf</a>
   </object>
</div>
</body>